* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --brand-color: #846AFF;
    --dark-10: #121214;
    --dark-20: #7C7C8A;
    --dark-30: #EAEAEA;
    --dark-40: #EEEEFF;
    --dark-50: #F8F8FF;
    --dark-60: #FFFFFF;

    font-family: 'Roboto', sans-serif;
}