* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --brand-color: #846AFF;
    --dark-10: #121214;
    --dark-20: #7C7C8A;
    --dark-30: #EAEAEA;
    --dark-40: #EEEEFF;
    --dark-50: #F8F8FF;
    --dark-60: #FFFFFF;

    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--dark-50);
}

header .container {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;

    gap: 235px;
    padding: 50px 66px;
}

#busca-artigos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    padding: 89.5px 0px;
}

#busca-artigos h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 120%;
    color: var(--dark-10);
}

#busca-artigos h1 span {
    color: var(--brand-color);
}

#busca-artigos p {
    font-size: 1.5rem;
    color: var(--dark-10);
}

.btn {
    padding: 14px 32px;

    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    color: var(--dark-60);
    background: var(--brand-color);

    transition: background .5s;
}

.btn:hover {
    background: #7054fd;
}

.recomendados {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 80px 352px;
}

.recomendados .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 113px;
}

.container h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-10);
}

.container .artigos {
    display: flex;
    flex-flow: row wrap;
    gap: 48px 32px;

    width: 1216px;
}

.artigos .artigo {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;
    border: 2px solid var(--dark-40);

    width: 384px;

    cursor: pointer;
    transition: transform .5s;
}

.artigo:hover {
    transform: scale(1.1);
}

.artigo .conteudo {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    gap: 12px;
}

.conteudo h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 130%;
    font-style: normal;

    color: var(--dark-10);
}

.conteudo p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;

    color: var(--dark-10);
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 80px 332px;
}

.contato .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 48px;
}

.contato .container h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-10);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 462px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form input, form textarea {
    display: flex;
    padding: 19px 24px;

    border-radius: 4px;
    border: 1px solid var(--dark-30);

    background: var(--dark-60);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    padding: 30px 0px;

    background: var(--dark-40);
}

footer p {
    font-size: .9rem;
    font-weight: 500;
    color: var(--dark-10);
}

footer p a {
    text-decoration: none;
    font-weight: 700;

    color: var(--brand-color);

    transition: color .5s;
}

footer p a:hover {
    color: #4e2cfc;
}

/* TABLET */

@media (max-width: 768px) {
    header .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;

        padding: 64px 0px;
    }

    header .container img {
        width: 330px;
    }

    #busca-artigos {
        text-align: center;
        align-items: center;
        gap: 24px;
        padding: 0px;
        margin: 0px 151px;
    }

    #busca-artigos h1 {
        font-size: 2rem;
    }

    #busca-artigos p {
        font-size: 1.25rem;
    }

    main .recomendados {
        padding: 80px 0px;
        margin: 0px 32px;
    }

    .recomendados h2 {
        font-size: 1.75rem;
    }

    .recomendados .container {
        gap: 56px;
    }

    .container .artigos {
        width: auto;
    }

    .artigos .artigo {
        width: 335px;
    }

    .artigo img {
        width: 100%;
    }

    .artigo .conteudo {
        padding: 24px 18px;
        gap: 12px;
    }

    .conteudo h3 {
        font-size: 1.05rem;
    }

    .conteudo p {
        font-size: 0.875rem;
    }
}